# Exploration of the dataset for the task "beräkna fram hur mycket statsbidrag en beviljad utbildning får."

In [41]:
import pandas as pd
path = "../../data/statliga_bidrag/ek_4_utbet_arsplatser_utbomr.xlsx"
df = pd.read_excel(path, skiprows=5, skipfooter=4)
index = df.columns[0]
df = df.set_index(index)
df.head()

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Utbildningsområde,,,,,,,,,,,,,
Data/IT,1737.481912,2205.505909,2556.642979,3192.549089,3489.221606,3271.108410,3365.285383,4049.108034,5731.907467,7935.754400,8524.385236,9041.371029,9991.109895
"Ekonomi, administration och försäljning",6440.213254,7155.296738,7441.238585,7424.231141,6982.197901,7374.364387,8535.541892,9922.031548,11102.063935,11896.374005,11080.960985,10744.125409,11032.445348
Friskvård och kroppsvård,223.749143,215.499254,214.332199,202.291124,164.583231,107.666667,153.833320,183.749734,212.999672,238.499620,280.499142,280.165814,204.831766
"Hotell, restaurang och turism",1362.037288,1385.183165,1445.853403,1460.825305,1403.036518,1421.428860,1492.455512,1566.282928,1770.148880,1980.446728,1817.941314,1574.809490,1650.005195
Hälso- och sjukvård samt socialt arbete,2149.400705,2359.066355,2637.583012,3052.793098,3050.936081,3331.569038,3763.599723,4396.389298,5192.716270,5938.089274,6087.606872,5792.621569,5452.210128

In [73]:
df.loc['Hotell, restaurang och turism', int('2020')].round(1)

np.float64(1770.1)

In [60]:
df.describe()

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,2704.774897,3026.283180,3167.526143,3376.741798,3408.771049,3550.014703,3882.312521,4441.862972,5310.498031,6220.237449,6216.204602,6111.709355,6371.537381
std,5311.352920,5944.451019,6223.459867,6610.824554,6646.553268,6922.858603,7597.468722,8708.855117,10398.252837,12166.569970,12138.609646,11942.285095,12471.407388
min,103.833227,168.416654,169.666372,129.749949,125.833308,107.666667,130.916556,183.749734,212.999672,238.499620,223.915532,199.165881,204.831766
25%,222.353412,215.040950,295.645064,272.759958,310.124899,326.659202,367.805519,437.355214,449.439673,450.350068,431.160956,433.923632,430.304569
50%,1124.975170,1102.957234,1078.285341,1119.340717,1180.919996,1280.170195,1357.389670,1301.136132,1410.893841,1538.227463,1518.497250,1441.148196,1544.344037
75%,2187.854921,2473.964917,2704.089803,3153.171253,3505.456603,3458.274523,3807.431375,4408.497223,5566.609734,6943.478472,6953.737124,6852.802839,7594.809014
max,21638.199175,24210.265437,25340.209147,27013.934384,27270.168390,28400.117628,31058.500169,35534.903780,42483.984244,49761.899589,49729.636813,48893.674838,50972.299052

In [61]:
df.dtypes

2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
2021    float64
2022    float64
2023    float64
2024    float64
dtype: object

In [62]:
for i in df.index:
    print(i)

Data/IT
Ekonomi, administration och försäljning
Friskvård och kroppsvård
Hotell, restaurang och turism
Hälso- och sjukvård samt socialt arbete
Journalistik och information
Juridik
Kultur, media och design
Lantbruk, djurvård, trädgård, skog och fiske
Pedagogik och undervisning
Samhällsbyggnad och byggteknik
Säkerhetstjänster
Teknik och tillverkning
Transporttjänster
Övrigt
Totalt

In [71]:
def func(area, year):
    area_cleaned = area.strip()
    price_year = df.loc[area_cleaned, int(year)]
    price_year = price_year * schablon_moms[area_cleaned]
    print(price_year)

func('Hotell, restaurang och turism', '2020')

121609228.06611814

In [69]:
schablon_moms = {
    "Data/IT": 74100,
    "Ekonomi, administration och försäljning": 66600,
    "Friskvård och kroppsvård": 79200,
    "Hotell, restaurang och turism":68700,
    "Hälso- och sjukvård samt socialt arbete": 7100,
    "Journalistik och information": 70600,
    "Juridik": 64100,
    "Kultur, media och design": 89400,
    "Lantbruk, djurvård, trädgård, skog och fiske":116700,
    "Pedagogik och undervisning": 75500,
    "Samhällsbyggnad och byggteknik": 74600,
    "Säkerhetstjänster": 66800,
    "Teknik och tillverkning": 91000,
    "Transporttjänster": 85200
}

schablon_moms["Data/IT"]

74100